<!DOCTYPE html>
<html>
<head>
  <title>Mine Hunter</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<nav>
		<h1>Mine Hunter</h1>
		<h2> - by Cyprium - </h2>
		<div id="links">
				<div class="item"><%= link_to "About", home_path %></div>
				<div class="item"><%= link_to "Game", game_path %></div>
				<div class="item"><%= link_to "Scores", scores_path %></div>
		</div>
	</nav>
		<%= yield %>

</body>
</html>
